<h1 > Message Board </h1>

<% @messages.each do |msg|%>
<h2><%= msg.title %></h2>
<p><%= msg.description%></p>
<%= link_to 'View Message',message_path(msg), class: "btn btn-primary"%>
<%end%>

<%= link_to 'New Message',new_message_path%>